# Python vs Excel: "a comparison"
https://www.youtube.com/watch?v=WbNYbxdW3mk&ab

# Tool set

**I, IMPORT LIBRARY TO WORK WITH DATA**

1, Numpy
- Numpy provides support for large, multi-dimensional arrays and matrices,
along with a variety of high-level mathematical functions to operate on these arrays.
- Common alias for numpy is np
- Syntax:
          import numpy as np

2, Pandas
- Pandas is a popular Python library used for data manipulation and analysis. It provides data structures and functions for working with structured data, such as tabular data, time series data, and more.
- Common alias for pandas is pd
- Syntax:
          import pandas as pd

In [ ]:
#Import pandas
import pandas as pd

In [ ]:
# Read every rows
# pd.set_option("display.max_columns", 28)
pd.set_option("display.max_columns", 28)

**II, UPLOAD FILES USING GOOGLE COLLAB AND READING FILES USING PANDAS**

- syntax:
          df = pd.read_csv('file_name') #turn csv file into dataframe
https://learn.microsoft.com/en-us/power-query/media/combine-files-csv/combine-files-csv-sample-csv-file.png

# Read data - check data file format

In [ ]:
# Read data - check data file format
df = pd.read_csv("Cleaned_DS_Jobs.csv")

In [ ]:
df.head(5)
#df.tail()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,1,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY,1,27,0,0,0,0,1,0,0,data scientist,senior
1,2,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,NaN,VA,0,52,0,0,1,0,0,0,1,data scientist,na
2,3,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na
3,4,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na
4,5,Data Scientist,137-172,Overview\n\n\nAnalysis Group is one of the lar...,4.8,Analysis Group,"Boston, MA","Boston, MA",1002 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na

In [ ]:
# Drop unnecessary columns
df.drop(columns=["index", "Job Description"], inplace=True)

In [ ]:
df.shape

(664, 26)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          664 non-null    object
 1   Salary Estimate    664 non-null    object
 2   Rating             664 non-null    float64
 3   Company Name       664 non-null    object
 4   Location           664 non-null    object
 5   Headquarters       664 non-null    object
 6   Size               664 non-null    object
 7   Type of ownership  664 non-null    object
 8   Industry           655 non-null    object
 9   Sector             660 non-null    object
 10  Revenue            664 non-null    object
 11  min_salary         659 non-null    float64
 12  max_salary         651 non-null    float64
 13  avg_salary         616 non-null    float64
 14  job_state          664 non-null    object
 15  same_state         664 non-null    int64
 16  company_age        664 non-null    int64
 17  python             664 non-null    int64
 18  excel              664 non-null    int64
 19  hadoop             664 non-null    int64
 20  spark              664 non-null    int64
 21  aws                664 non-null    int64
 22  tableau            664 non-null    int64
 23  big_data           664 non-null    int64
 24  job_simp           664 non-null    object
 25  seniority          664 non-null    object
dtypes: float64(4), int64(9), object(13)
memory usage: 135.0+ KB

In [ ]:
df.head(1)

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY,1,27,0,0,0,0,1,0,0,data scientist,senior

In [ ]:
# Drop rows
df1 = df.iloc[0:200] # get df from index 0 to 199
df1.head()

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY,1,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,NaN,VA,0,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-172,4.8,Analysis Group,"Boston, MA","Boston, MA",1002 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na

In [ ]:
# Rename columns
df1.rename(columns={"Salary Estimate": "Salary"}, inplace=True)

<ipython-input-18-ef9cd32e8850>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={"Salary Estimate": "Salary"}, inplace=True)

In [ ]:
df1.head(2)

,Job Title,Salary,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY,1,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,NaN,VA,0,52,0,0,1,0,0,0,1,data scientist,na

**III, CHECKING GENERAL INFORMATION**
- Usually we use:
          df.head(number of rows) #display n first few rows
          df.shape                #display total num of rows and cols
          df.describe()           #display summary statistics for the numerical columns in the data
          df.isnull().sum()       #display number of missing values of each column

# Data overview

In [ ]:
# Shape
df1.shape

In [ ]:
# Info
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          200 non-null    object
 1   Salary             200 non-null    object
 2   Rating             200 non-null    float64
 3   Company Name       200 non-null    object
 4   Location           200 non-null    object
 5   Headquarters       200 non-null    object
 6   Size               200 non-null    object
 7   Type of ownership  200 non-null    object
 8   Industry           191 non-null    object
 9   Sector             196 non-null    object
 10  Revenue            200 non-null    object
 11  min_salary         195 non-null    float64
 12  max_salary         187 non-null    float64
 13  avg_salary         152 non-null    float64
 14  job_state          200 non-null    object
 15  same_state         200 non-null    int64
 16  company_age        200 non-null    int64
 17  python             200 non-null    int64
 18  excel              200 non-null    int64
 19  hadoop             200 non-null    int64
 20  spark              200 non-null    int64
 21  aws                200 non-null    int64
 22  tableau            200 non-null    int64
 23  big_data           200 non-null    int64
 24  job_simp           200 non-null    object
 25  seniority          200 non-null    object
dtypes: float64(4), int64(9), object(13)
memory usage: 40.8+ KB

In [ ]:
# Describe
df1.describe()

,Rating,min_salary,max_salary,avg_salary,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data
count,200.000000,195.000000,187.000000,152.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,3.869000,90.866667,132.422460,112.269737,0.555000,36.040000,0.715000,0.480000,0.205000,0.285000,0.290000,0.165000,0.170000
std,0.775789,22.873761,23.553602,23.537196,0.498213,44.681434,0.452547,0.500854,0.404715,0.452547,0.454901,0.372112,0.376575
min,0.000000,56.000000,97.000000,76.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.475000,75.000000,109.000000,99.000000,0.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.800000,90.000000,131.000000,105.000000,1.000000,21.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.400000,99.000000,132.000000,133.000000,1.000000,47.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,6.700000,137.000000,171.000000,154.000000,1.000000,239.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# value counts
df1.value_counts("Salary")           # column name

Salary
75-131      31
79-131      31
99-132      31
137-171     28
90-109      28
56-97       22
101-165     21
79-106       3
137-172      1
137-173      1
75-132       1
75-133       1
75-134       1
dtype: int64

# **Data cleaning**

**CHECKING FOR DUPLICATES AND DROPING DUPLICATES**

- syntax:
        
        dup = df[df.duplicated()] #Subsetting duplicated rows

- syntax:
        df = df.drop_duplicates() #Drop duplicated rows

In [ ]:
#Checking duplicates loc iloc works with []
dup = df1.loc[df1.duplicated()]

df1 = df1.drop_duplicates(keep="first")

In [ ]:
df1

,Job Title,Salary,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY,1,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,NaN,VA,0,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-172,4.8,Analysis Group,"Boston, MA","Boston, MA",1002 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na
5,Data Scientist,137-173,5.8,Analysis Group,"Boston, MA","Boston, MA",1003 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,NaN,MA,1,39,1,1,0,0,1,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"Principal Scientist/Associate Director, Qualit...",56-97,3.8,Rubius Therapeutics,"Smithfield, RI","Cambridge, MA",201 to 500 employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),56.0,97.0,76.0,RI,0,7,0,0,0,0,0,0,0,director,senior
196,Analytics - Business Assurance Data Analyst,56-97,4.6,GreatAmerica Financial Services,"Cedar Rapids, IA","Cedar Rapids, IA",501 to 1000 employees,Company - Private,Lending,Finance,$100 to $500 million (USD),56.0,97.0,76.0,IA,1,28,0,1,0,0,0,1,0,analyst,na
197,Data Scientist,79-106,3.4,Spectrum Communications and Consulting,"Chicago, IL","Chicago, IL",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,$10 to $25 million (USD),79.0,106.0,92.0,IL,1,28,0,0,0,0,0,0,0,data scientist,na
198,Data Scientist,79-106,4.1,Coverent,"McLean, VA","McLean, VA",51 to 200 employees,Company - Private,Consulting,Business Services,$10 to $25 million (USD),79.0,106.0,92.0,VA,1,12,1,1,0,0,0,0,0,data scientist,na
199,Machine Learning Engineer,79-106,3.7,Mteq,"Fort Belvoir, VA","Lorton, VA",501 to 1000 employees,Company - Public,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),79.0,106.0,92.0,VA,0,66,1,0,0,0,0,0,0,mle,na

# **Dealing with missing data**

1, Drop missing values

2, Fill in missing values

a. Mean
                
                mean = df['column'].mean()

-> Replace missing value with mean value
                
                df['column'].fillna(mean, inplace = True)

b. Preceding, following values

In [ ]:
#Calculate mean value, fill with mean value
mean = round(df1["avg_salary"].mean(), 2)
df1["avg_salary"].fillna(mean, inplace=True)

112.27

In [ ]:
#Fill missing values with bfill
df1["max_salary"].bfill(inplace=True)

<ipython-input-38-20eb2fcd34bb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["max_salary"].bfill(inplace=True)

In [ ]:
#Fill missing values with ffill
df1["min_salary"].ffill(inplace=True)

<ipython-input-40-5f7e3644b807>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["min_salary"].ffill(inplace=True)

In [ ]:
df1["avg_salary"] = (df1["min_salary"] + df1["max_salary"])/2

<ipython-input-42-266646c4b70a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["avg_salary"] = (df1["min_salary"] + df1["max_salary"])/2

In [ ]:
#Checking for missing value again
df1

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY,1,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,154.0,VA,0,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,1,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,1,39,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-172,4.8,Analysis Group,"Boston, MA","Boston, MA",1002 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,1,39,1,1,0,0,1,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,"Principal Scientist/Associate Director, Qualit...",56-97,3.8,Rubius Therapeutics,"Smithfield, RI","Cambridge, MA",201 to 500 employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),56.0,97.0,76.5,RI,0,7,0,0,0,0,0,0,0,director,senior
196,Analytics - Business Assurance Data Analyst,56-97,4.6,GreatAmerica Financial Services,"Cedar Rapids, IA","Cedar Rapids, IA",501 to 1000 employees,Company - Private,Lending,Finance,$100 to $500 million (USD),56.0,97.0,76.5,IA,1,28,0,1,0,0,0,1,0,analyst,na
197,Data Scientist,79-106,3.4,Spectrum Communications and Consulting,"Chicago, IL","Chicago, IL",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,$10 to $25 million (USD),79.0,106.0,92.5,IL,1,28,0,0,0,0,0,0,0,data scientist,na
198,Data Scientist,79-106,4.1,Coverent,"McLean, VA","McLean, VA",51 to 200 employees,Company - Private,Consulting,Business Services,$10 to $25 million (USD),79.0,106.0,92.5,VA,1,12,1,1,0,0,0,0,0,data scientist,na
199,Machine Learning Engineer,79-106,3.7,Mteq,"Fort Belvoir, VA","Lorton, VA",501 to 1000 employees,Company - Public,Aerospace & Defense,Aerospace & Defense,$100 to $500 million (USD),79.0,106.0,92.5,VA,0,66,1,0,0,0,0,0,0,mle,na


**CLEANING CATEGORICAL DATA (Dealing with string)**

1, Lowercase string and map to number
- To make change to a column:
                df['column'] = df['column'].(function)

Clean values that don't make sense (outliers)

In [ ]:
df1["Size"].replace("-1", "unknown", inplace=True)

<ipython-input-45-b69230d63101>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Size"].replace("-1", "unknown", inplace=True)

# Data manipulation

Select data points with certain characteristics

In [ ]:
df_rating = df1.loc[df1["Rating"] > 4]

In [ ]:
df_rating

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
1,Data Scientist,137-171,4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,154.0,VA,0,52,0,0,1,0,0,0,1,data scientist,na
4,Data Scientist,137-172,4.8,Analysis Group,"Boston, MA","Boston, MA",1002 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,1,39,1,1,0,0,1,0,0,data scientist,na
5,Data Scientist,137-173,5.8,Analysis Group,"Boston, MA","Boston, MA",1003 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,1,39,1,1,0,0,1,0,0,data scientist,na
6,Data Scientist,137-171,4.2,HG Insights,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,137.0,171.0,154.0,CA,1,10,1,1,1,1,0,0,0,data scientist,na
9,Staff Data Scientist - Analytics,137-171,4.4,Intuit - Data,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),137.0,171.0,154.0,CA,0,37,0,0,0,0,0,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Data Engineer,56-97,4.1,Shape Security,"Santa Clara, CA","Mountain View, CA",51 to 200 employees,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,56.0,97.0,76.5,CA,0,9,1,0,0,0,1,0,1,data engineer,na
191,Data Scientist,56-97,5.0,SkillSoniq,"San Francisco, CA","Jersey City, NJ",Unknown,Company - Public,-1,-1,Unknown / Non-Applicable,56.0,97.0,76.5,CA,0,-1,1,0,0,0,0,0,0,data scientist,na
193,Data Scientist,56-97,4.3,Joby Aviation,"San Carlos, CA","Santa Cruz, CA",51 to 200 employees,Company - Private,-1,-1,Unknown / Non-Applicable,56.0,97.0,76.5,CA,0,-1,1,1,0,1,1,0,1,data scientist,na
196,Analytics - Business Assurance Data Analyst,56-97,4.6,GreatAmerica Financial Services,"Cedar Rapids, IA","Cedar Rapids, IA",501 to 1000 employees,Company - Private,Lending,Finance,$100 to $500 million (USD),56.0,97.0,76.5,IA,1,28,0,1,0,0,0,1,0,analyst,na
198,Data Scientist,79-106,4.1,Coverent,"McLean, VA","McLean, VA",51 to 200 employees,Company - Private,Consulting,Business Services,$10 to $25 million (USD),79.0,106.0,92.5,VA,1,12,1,1,0,0,0,0,0,data scientist,na

E.g. Find companies that have a different Headquarter from Location and Rating > 3.5 and Data Scientist title

In [ ]:
df_job = df1.loc[(df1["Location"] != df1["Headquarters"]) & (df["Rating"] > 3.5) & (df1["Job Title"] == "Data Scientist")]
df_job

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
1,Data Scientist,137-171,4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,154.0,VA,0,52,0,0,1,0,0,0,1,data scientist,na
11,Data Scientist,137-171,4.5,Novetta,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),137.0,171.0,154.0,VA,0,8,1,1,0,0,1,0,0,data scientist,na
28,Data Scientist,137-171,4.5,Kingfisher Systems,"McLean, VA","Falls Church, VA",51 to 200 employees,Company - Private,Federal Agencies,Government,$25 to $50 million (USD),137.0,171.0,154.0,VA,0,15,1,0,0,0,0,1,0,data scientist,na
48,Data Scientist,75-131,3.7,GovTech,"San Francisco, CA","Singapore, Singapore",1001 to 5000 employees,Government,Federal Agencies,Government,Unknown / Non-Applicable,75.0,131.0,103.0,CA,0,4,1,1,0,0,0,1,0,data scientist,na
51,Data Scientist,75-131,3.7,Takeda,"Cambridge, MA","OSAKA, Japan",10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),75.0,131.0,103.0,MA,0,239,1,0,0,1,0,0,0,data scientist,na
52,Data Scientist,75-132,4.7,Takeda,"Cambridge, MA","OSAKA, Japan",10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),75.0,131.0,103.0,MA,0,239,1,0,0,1,0,0,0,data scientist,na
53,Data Scientist,75-133,5.7,Takeda,"Cambridge, MA","OSAKA, Japan",10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),75.0,131.0,103.0,MA,0,239,1,0,0,1,0,0,0,data scientist,na
54,Data Scientist,75-134,6.7,Takeda,"Cambridge, MA","OSAKA, Japan",10000+ employees,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),75.0,131.0,103.0,MA,0,239,1,0,0,1,0,0,0,data scientist,na
69,Data Scientist,79-131,4.0,Grid Dynamics,"Santa Clara, CA","San Ramon, CA",1001 to 5000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),79.0,131.0,105.0,CA,0,14,1,1,0,0,0,1,1,data scientist,na
83,Data Scientist,79-131,3.6,Powertek,"Washington, DC","Rockville, MD",51 to 200 employees,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),79.0,131.0,105.0,DC,0,19,0,0,0,0,0,0,0,data scientist,na
91,Data Scientist,79-131,3.9,Mars,United States,"Mc Lean, VA",10000+ employees,Company - Private,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD),79.0,131.0,105.0,US,0,109,1,0,0,1,1,0,0,data scientist,na
105,Data Scientist,99-132,3.8,Tecolote Research,"Hill AFB, UT","Goleta, CA",501 to 1000 employees,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),99.0,132.0,115.5,UT,0,47,1,1,0,0,0,1,0,data scientist,na
109,Data Scientist,99-132,3.7,SAIC,"Chantilly, VA","Reston, VA",10000+ employees,Company - Public,Enterprise Software & Network Solutions,Information Technology,$5 to $10 million (USD),99.0,132.0,115.5,VA,0,7,1,0,0,0,0,0,0,data scientist,na
120,Data Scientist,99-132,4.5,TACG Solutions,"Dayton, OH","Beavercreek, OH",51 to 200 employees,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,99.0,132.0,115.5,OH,0,14,1,1,0,0,0,1,0,data scientist,na
154,Data Scientist,101-165,4.5,Novetta,"Herndon, VA","Mc Lean, VA",501 to 1000 employees,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),101.0,165.0,133.0,VA,0,8,1,1,0,0,1,0,0,data scientist,na
191,Data Scientist,56-97,5.0,SkillSoniq,"San Francisco, CA","Jersey City, NJ",Unknown,Company - Public,-1,-1,Unknown / Non-Applicable,56.0,97.0,76.5,CA,0,-1,1,0,0,0,0,0,0,data scientist,na
193,Data Scientist,56-97,4.3,Joby Aviation,"San Carlos, CA","Santa Cruz, CA",51 to 200 employees,Company - Private,-1,-1,Unknown / Non-Applicable,56.0,97.0,76.5,CA,0,-1,1,1,0,1,1,0,1,data scientist,na

E.g. Find jobs that have a Rating > 4 or min_salary > $100,000

In [ ]:
df_money = df1.loc[(df1["Rating"] > 4) | (df1['min_salary'] > 100)]

In [ ]:
df_money

,Job Title,Salary Estimate,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,min_salary,max_salary,avg_salary,job_state,same_state,company_age,python,excel,hadoop,spark,aws,tableau,big_data,job_simp,seniority
0,Sr Data Scientist,137-171,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,137.0,171.0,154.0,NY,1,27,0,0,0,0,1,0,0,data scientist,senior
1,Data Scientist,137-171,4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),137.0,171.0,154.0,VA,0,52,0,0,1,0,0,0,1,data scientist,na
2,Data Scientist,137-171,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,1,39,1,1,0,0,1,0,0,data scientist,na
3,Data Scientist,137-171,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,1,39,1,1,0,0,1,0,0,data scientist,na
4,Data Scientist,137-172,4.8,Analysis Group,"Boston, MA","Boston, MA",1002 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),137.0,171.0,154.0,MA,1,39,1,1,0,0,1,0,0,data scientist,na
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Data Engineer,56-97,4.1,Shape Security,"Santa Clara, CA","Mountain View, CA",51 to 200 employees,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,56.0,97.0,76.5,CA,0,9,1,0,0,0,1,0,1,data engineer,na
191,Data Scientist,56-97,5.0,SkillSoniq,"San Francisco, CA","Jersey City, NJ",Unknown,Company - Public,-1,-1,Unknown / Non-Applicable,56.0,97.0,76.5,CA,0,-1,1,0,0,0,0,0,0,data scientist,na
193,Data Scientist,56-97,4.3,Joby Aviation,"San Carlos, CA","Santa Cruz, CA",51 to 200 employees,Company - Private,-1,-1,Unknown / Non-Applicable,56.0,97.0,76.5,CA,0,-1,1,1,0,1,1,0,1,data scientist,na
196,Analytics - Business Assurance Data Analyst,56-97,4.6,GreatAmerica Financial Services,"Cedar Rapids, IA","Cedar Rapids, IA",501 to 1000 employees,Company - Private,Lending,Finance,$100 to $500 million (USD),56.0,97.0,76.5,IA,1,28,0,1,0,0,0,1,0,analyst,na
198,Data Scientist,79-106,4.1,Coverent,"McLean, VA","McLean, VA",51 to 200 employees,Company - Private,Consulting,Business Services,$10 to $25 million (USD),79.0,106.0,92.5,VA,1,12,1,1,0,0,0,0,0,data scientist,na